<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
	</head>
	<body>
		<div ng-app="mymodule">
			<div ng-controller="first_controller">
				{{w}}
				<input type="text" ng-model="w">
				<h1 ng-repeat="i in cricketers">{{i}}</h1>
			</div>
			<div ng-controller="second_controller">
				{{r}}
			</div>
			<div ng-controller="specialcontroller">
				{{aa}}
			</div>
		</div>
		<script>
			var x = angular.module("mymodule",['secondmodule']);
			x.controller("first_controller",function($scope){
				$scope.w=200;
				$scope.cricketers=["sachin","virat","dhoni","yuvi","raina"]
			});					
		</script>
		<script src="controller/second_controller.controller.js"></script>
		<script src="modules/second.module.js"></script>
	</body>
</html>